<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activity.firebotmobile">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:label="Chat" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LandingActivity" /> <activity android:name=".SecondSplashActivity" />
        <activity android:name=".ScanIntroActivity" />
        <activity android:name=".CameraPermissionActivity" />
        <activity android:name=".QRScannerActivity" />
        <activity android:name=".ScanSuccessActivity" />
        <activity android:name=".SecondActivityLanding" />
        <activity android:name=".LiveMonitoringActivity" />
        <activity android:name=".FireExtinguisherMonitoringActivity" />
        <activity android:name=".HistoryActivity"/>
        <activity android:name=".BatteryActivity"/>
        <activity android:name=".LogsActivity"/>
    </application>

</manifest>