<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activity.firebotmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Splash Activity - FIRST SCREEN -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Landing Activity - SECOND SCREEN -->
        <activity
            android:name=".LandingActivity"
            android:exported="false" />

        <!-- Main Activity - THIRD SCREEN -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>
</manifest>