<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activity.firebotmobile">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LandingActivity" />
        <!-- <activity android:name=".MainActivity" /> -->
        <activity android:name=".SecondSplashActivity" />
        <activity android:name=".ScanIntroActivity" />
        <activity android:name=".CameraPermissionActivity" />
        <activity android:name=".QRScannerActivity" />
        <activity android:name=".ScanSuccessActivity" />
        <activity android:name=".SecondActivityLanding" />
        <activity android:name=".LiveMonitoringActivity" />
        <activity android:name=".FireExtinguisherMonitoringActivity" />
        <activity android:name=".HistoryActivity"/>
        <activity android:name=".BatteryActivity"/>
        <activity android:name=".LogsActivity"/>




    </application>

</manifest>
